<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.chilltime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera2.CameraMetadata.LENS_FACING_FRONT"
        android:required="true" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".QRCode"
            android:enabled="true"
            android:icon="@drawable/home"
            android:label="QRCode"
            android:roundIcon="@drawable/home"></activity>
        <activity android:name=".EditAccount" />
        <activity
            android:name=".User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:enabled="true"
            android:icon="@drawable/home"
            android:label="Settings"
            android:roundIcon="@drawable/home" />
        <activity
            android:name=".SeriesCreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoviesCreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseGenreSeries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseGenreMovie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfigUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsSerie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayVideo"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowFullscreen="true" />
        <activity
            android:name=".DetailsMovie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Series"
            android:enabled="true"
            android:icon="@drawable/home"
            android:label="Series"
            android:roundIcon="@drawable/home" />
        <activity
            android:name=".Movies"
            android:enabled="true"
            android:icon="@drawable/home"
            android:label="Movies"
            android:roundIcon="@drawable/home" />
        <activity
            android:name=".GPS"
            android:enabled="true"
            android:icon="@drawable/home"
            android:label="GPS"
            android:roundIcon="@drawable/home" />
        <activity
            android:name=".CreateAccount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_API_key" />
    </application>

</manifest>